.instruct{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.upload{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.uploadform{
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    display: flex;
    min-width: 300px;
    width: 50vw;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
input{
    margin: 5px;
}

p{
    margin: 5px;
}

.demogifs{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    min-width: 300px;
    width: 50vw;
    justify-content: space-evenly;
    flex-wrap:wrap;
}