.instruct{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.result{
    border: 1px solid black;
    min-height: 25px;
    border-radius: 10px;
    width:150px;
    margin-left: auto;
    margin-right: auto;
}

.upload{
    background-color: #629A71;
    border-radius: 10px;
    max-width: 50vw;
    min-width: 280px;
    box-shadow: 1px 1px 1px 1px black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.uploadform{
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    display: flex;
    min-width: 300px;
    width: 50vw;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
input{
    margin: 5px;
}

p{
    margin: 5px;
}

.demogifs{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    min-width: 300px;
    width: 50vw;
    justify-content: space-evenly;
    flex-wrap:wrap;
}